/* CSS RESET */
*, *::before, *::after {
    box-sizing: border-box;
    margin-block-start: 0;
    margin-block-end: 0;
}
html, body {
    margin: 0;
    padding: 0;
}

/* GENERAL */
main {
    margin: 1em 20vw;
    padding: 1em 5vw;
    background-color: lightgray;
}
h1 {
    margin: .6em 0;
    font-size: 2em;
}
h2, h3, h4, h5 {
    margin: .5em 0 .2em;
}
figure {
    text-align: center;
}
dfn {
    font-style: normal;
}
rt {
    display: none;
}
abbr[title] {
    text-decoration-skip-ink: none;
}

/* NAV */
nav {
    padding: 0 20vw;
    background-color: aqua;
}
nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
nav ul li:hover {
    background-color: lightskyblue;
}
nav ul li a {
    width: 100%;
    height: 100%;
    padding: 1em;
    display: inline-block;
    color: blueviolet;
    text-decoration-line: none;
    font-size: 1.2em;
}

/* PROJECTS */
#projects-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
#projects-list>li {
    margin: 0 0 1em;
    padding: 1em;
    background-color: lightgoldenrodyellow;
}
#projects-list>li>img.small {
    width: 100%;
    max-width: 507px;
}
.project-skills {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.project-skills>li {
    margin: .15em .2em;
    padding: .2em .3em;
    border-radius: .2em;
    background-color: grey;
    color: floralwhite;
}
.project-skills>li>abbr {
    text-decoration-line: none;
}

/* FOOTER */
footer {
    margin: 0;
    padding: 1em 20vw;
    background-color: pink;
}
footer ul {
    margin: 0;
    padding: 0 5vw;
    list-style: none;
}
footer ul li {
    
}